/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Lato-regular;
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: Lato-bold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face{
    font-family: Lato-light;
    src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face{
    font-family: Lobster;
    src: url(./assets/fonts/Lobster.otf);
}

/*mixins*/
@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin text-shadow($value) {
    -webkit-text-shadow: $value;
    -moz-text-shadow: $value;
    text-shadow: $value;
}
@mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, li {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
	border:0;
}

a{
	text-decoration: none;
}

/*

@import 'reset.css';
@import 'mixins.scss';
@import 'fonts.scss';
*/


$mainColor: #f1785b;
$mainColor-dark: darken( $mainColor, 10% );
$gray: #65717c;  
$lightGray: #a3b8c6;
$fontGray: #bdbcbc;
 
html{
    font-size: 20px;
}
body{
    font-family: Lato-regular;
    background: url('./assets/img/background.png') fixed no-repeat top;
}
    .container{
        margin: 0 auto;
        text-align:center;
        padding:2em;
    }

/*HEADER*/

.logo{
    width: min-content;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2.5em;
    &__title{
        font-family: 'Lobster';
        color: $mainColor;
        font-size: 5em;
        line-height:1.6em;
        @include text-shadow(2px 3px 4px #999);
    }
    &__img{
        width:100%;
    }
}

.mainHeader{
    position: relative;
    display:flex;
    height: 5.4em;
    &__logo{
        display: flex;
      
        &__title{
            font-size:3em;
            line-height: 2em;
        }
        &__img{
            margin-right: 1.3em;
        }    
    }
    &__nav{
        position: fixed;
        z-index: 999;
        top:0;
        right:0;
        height: 100vh;
        width: 50vw;
        background-color: rgba($mainColor, .9);
    
    
        &__item{
            text-align: right;
            margin: 0.8em;
            padding: 1em 0 1em 1em;
            border-top: 1px solid white;
            &:last-child{
                border-bottom: 1px solid white;
            }
            & > a{
                font-size: 1.4em;
                color: #fff;
                font-family: lato-light;
            }
        }
    }
}

.nav__icon{
    position: absolute;
    top: 1em;
    right:0;

    &>div{
        width:4em;
        height: 0.5em;
        background-color: $gray;
        @include border-radius(2.5em);
        @include box-shadow(2px 2px 2px $fontGray);
        &:nth-child(2){
            margin-top:0.5em;
            margin-bottom:0.5em;
        }
    }
}

/*ELEMENTS*/

.input, .btn{
    font-size: 1.4em;
    width: 80vw;
    padding: 1em;
    margin:0.5357em;
    @include border-radius(0.1em);
}

.btn{
    background-color:$gray;
    color:#fff;
    font-family: Lato-light;
    @include box-shadow(5px 3px 5px 0 $fontGray);
    &--small{
        width: 38vw;
    }
    &--oneThird{
  
        height: 3em;
        font-size: 1em;

        
         
    }
    &--mini{

    }
    &--transparent{

    }
    &--light{
        background-color:$lightGray;
    }
    &--pressed{
        background-color:$mainColor;
        @include box-shadow(inset 1px 1px 20px 0px $gray);
    }
  }

  .btnRadius{
    border-radius: 100px;
    font-size: 3em;
    width: 1em;
    color: $lightGray;
    border: 2px solid $lightGray;
    background-color: transparent;
}

.input{
    border: 1px solid $mainColor;
    background-color: transparent;
    &:focus{
    @include box-shadow(2px 2px $mainColor);
    }
    &--search{
        border-bottom: 1px solid $mainColor;
        @include box-shadow(5px 3px 5px 0 $fontGray);    
    }
    &--map{
        border:none;
        border-bottom: 1px solid #000;
        padding:0.5em;
        &:focus{
            box-shadow: none;
        }
    }
}

.flex-container{
display: flex;
}


.title{
    font-family: Lato-bold;
    font-size: 1.4em;
    line-height: 2em;
    color: $gray;
    position: relative;
    display: block;
&--orange{
    color: $mainColor;

}
}

.bigTitle{
    font-family: Lato-light;
    font-size: 2em;
    color:$gray;
    display: block;
    position: relative;

    &--color{
        color:$mainColor; 
    }
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}
 
.text-center{
    text-align:center;
}   
    
.underscore{
   &::before{
       content:"";
       position: absolute;
        width: 5.5em;
        height: 1px;
        background-color: currentColor;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom:0;
   }
}

/*range*/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 80%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 80%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }



/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid $mainColor !important;
    height: 1em !important;
    width: 1em !important;
    border-radius: 100px !important;
    background: $mainColor !important;
    cursor: pointer !important;
    margin-top: -14px !important; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /*box-shadow: 1px 1px 1px $mainColor, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    /*box-shadow: 1px 1px 1px $mainColor, 0px 0px 1px #0d0d0d*/
    border: 1px solid $mainColor !important;
    height: 1em !important;
    width: 1em !important;
    border-radius: 100px !important;
    background: $mainColor !important;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    /*box-shadow: 1px 1px 1px $mainColor, 0px 0px 1px #0d0d0d;*/
    border: 1px solid $mainColor;
    height: 1em;
    width: 1em;
    border-radius: 100px;
    background: $mainColor;
    cursor: pointer;
  }

  
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 80vw;
    height: 0.3em;
    cursor: pointer;
    background:$gray;
    border-radius: 100px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background:$gray;
  }
  
  input[type=range]::-moz-range-track {
    width: 80vw;
    height: 0.3em;
    cursor: pointer;
    background:$gray;
    border-radius: 100px;
  }
  
  input[type=range]::-ms-track {
    width: 80vw;
    height: 0.3em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $gray;
    border-radius: 100px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $gray;
  }
  input[type=range]::-ms-fill-upper {
    background: $gray;
    border-radius: 0.3em;
  }
  input[type=range]:focus::-ms-fill-upper {
    background:$mainColor;
  }

/*[range] end*/

/***sections***/
/*HOME*/

.sliderSection{
    &__box{
        margin-top:2em;
        margin-bottom: 2em;
    }
    &__slider{
        height:9em;
        margin-top:1em;
        margin-bottom:1em;
        background-size: cover;

        &__content{
            width:50%;
            height: 100%;
            margin-left:50%;
            padding: 2em 1.2em 2em 1.2em; 
            color: #fff;
            background-color: rgba($mainColor-dark, 0.6);
            font-family: Lato-regular;
            text-align: left;

            &__title{
                font-size: 1.4em;
                line-height: 1.6;
            }
            &__info{
                font-size: 0.9em;
                line-height: 1.4;
                display:inline-block;
            }
        }
    }

}


.resView{
    display:flex;
    margin-top:20px;
    border-bottom: 1px solig $gray;
    &__image{
        width:35vw;
        height: 30vw;
        background-size: cover;
        border-radius: 4px;
    }
    
    &__content{
        width:50vw;
        margin-left:20px;
        &__resTitle{
            color: $mainColor;
            font-size: 1.4em;
            padding-bottom:0.1em;
        }
        &--info{
            display: block;
            width:100%;
            color:$gray;
            &--lightgray{
                color:$lightGray;
            }
           
        }
    }

}





.animation{animation-name: wysuwanie;
    animation-duration: 1s;
    animation-timing-function:ease-out;}

@keyframes wysuwanie {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-50vw);
    }
}














